.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 50px;
}

.input {
  line-height: 30px;
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.usersContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 20px;
}
