.container {
  display: flex;
  flex: 0.25;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: -2px 3px 22px -2px rgba(219, 219, 219, 1);
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-top: 20px;
}

.name {
  width: auto;
}
